In [36]:
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(101)

# series
#series is similar to numpy array. Only that a series has axis labels i.e can be indexed by a label instead of a numeric location like a numpy array. it does not need to hold numeric data and can have any arbitrary object

In [3]:
#create a series from a list, array, and dictionary
label=['a','b','c']#list
my_list=[10,20,10]#list
arr=np.array([10,20,30])#array
d={'a':10,'b':20,'c':30}#dictionary

In [5]:
#create a series using a list
pd.Series(my_list)

0    10
1    20
2    10
dtype: int64

In [8]:
#create a series with labels as axis
pd.Series(data=my_list,index=label)

a    10
b    20
c    10
dtype: int64

In [10]:
#Create a series from numpy arrays
pd.Series(arr,label)

a    10
b    20
c    30
dtype: int32

In [11]:
#Create a series from a dictionary
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

# Series Indexing-Faster look up
#Excel-V,lookup

In [14]:
ser1=pd.Series([1,2,3,4],index=['KEN','UG','TAZ','RWA'])
ser1

KEN    1
UG     2
TAZ    3
RWA    4
dtype: int64

In [19]:
ser1['KEN']

1

# DATA FRAME

In [38]:
#It is a collection of many series objects sharing the same index
#df=data set
df=pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652